@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.bigText {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
.mediumText {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 30px;
}
canvas {
    margin: auto;
}
#main {
    width: 100%;
    display: flex;
}
.inputLabel {
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    display: inline;
}
.enter {
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    margin-top: 7px;
    flex-direction: column;
}

.margin1 {
    margin-top: 5px;
}
.inputTextBox {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    font-family: "Jersey 10", sans-serif;
    font-size: 17px;
}
body {
    background-color: #2d2d2d;
    color: white;
}
#leftBox, #rightBox {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(215, 215, 215);
    padding: 5px;
}
#middle {
    display: flex;
    flex-direction: column;
    flex: auto;
}
#fileControls {
    border-radius: 15px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(215, 215, 215);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    column-gap: 5px;
    align-self: center;
}
#drawing {
    flex: auto;
    margin: 10px;
    align-self: center;
}
#right {
    display: flex;
    flex-direction: column;
}
#left {
    display: flex;
    flex-direction: column;
}
.centeredText {
    text-align: center;
}
.column {
    width: 200px;
    flex-direction: column;
    display: flex;
}